<!-- 引入公共头文件  -->
<include file="common/header" />


            <!-- 中间内容 Start.-->
            <div id="container" class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">快捷方式</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">

                    <div class="col-xl-2 col-sm-4 col-12">
                        <div class="card bg-primary">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3 class="font-weight-normal text-white mb-2">店铺介绍</h3>
                                    <a href="#" class="btn btn-outline-light btn-sm mb-1 mt-2">查看
                                        <i class="mdi mdi-arrow-right ml-1"></i>
                                    </a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                    </div> <!-- 选项 End. -->

                    <!-- 选项 Start. -->
                    <div class="col-xl-2 col-sm-4">
                        <div class="card bg-danger">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3 class="font-weight-normal text-white mb-2">最新活动</h3>

                                    <a href="#" class="btn btn-outline-light btn-sm mb-1 mt-2">查看
                                        <i class="mdi mdi-arrow-right ml-1"></i>
                                    </a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                    </div> <!-- 选项 End. -->

                    <div class="col-xl-2 col-sm-4">
                        <div class="card bg-success">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3 class="font-weight-normal text-white mb-2">版块管理</h3>

                                    <a href="#" class="btn btn-outline-light btn-sm mb-1 mt-2">查看
                                        <i class="mdi mdi-arrow-right ml-1"></i>
                                    </a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                    </div> <!-- 选项 End. -->

                    <div class="col-xl-2 col-sm-4">
                        <div class="card bg-warning">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3 class="font-weight-normal text-white mb-2">房间管理</h3>
                                    <a href="#" class="btn btn-outline-light btn-sm mb-1 mt-2">查看
                                        <i class="mdi mdi-arrow-right ml-1"></i>
                                    </a>

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                    </div> <!-- 选项 End. -->

                </div> <!-- end row -->
            </div>
            <!-- container -->

        </div>
        <!-- content -->

<!-- 引入公共头文件  -->
<include file="common/footer" />