<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2018 © 微格印象工作室 - weigrille.com
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="javascript: void(0);">关于我们</a>
                    <a href="javascript: void(0);">获取支持</a>
                    <a href="javascript: void(0);">联系我们</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- bundle -->
<script src="__PUBLIC__/js/app.min.js"></script>
<script src="__PUBLIC__/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="__PUBLIC__/js/public.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="__PUBLIC__/js/main.js" type="module"></script>
<script src="__PUBLIC__/js/product.js"></script>
<script src="__PUBLIC__/js/product-upload.js" type="module"></script>
</body>
</html>